<p-dialog
  [header]="!!termToEditId ? 'Edit Term' : 'Add New Term'"
  [modal]="true"
  [style]="{ width: '400px' }"
  [(visible)]="isShowing"
  [draggable]="false"
  [resizable]="false"
>
  <form (submit)="save()">
    <div>
      <label class="block text-sm pb-2" for="term">Term Name</label>
      <input
        pInputText
        name="term"
        id="term"
        class="block w-full"
        placeholder="Any word/s, keyword/s, phrase..."
        [(ngModel)]="name"
      />
    </div>
    <div class="mt-4">
      <label class="block text-sm pb-2" for="term">Score</label>

      <input
        pInputText
        type="number"
        name="score"
        id="score"
        class="block w-full"
        min="0"
        max="5"
        [(ngModel)]="score"
      />
    </div>
    <div class="mt-4">
      <label class="block text-sm pb-2" for="selectedCategories">Categories</label>
      <p-multiSelect
        name="selectedCategories"
        optionLabel="name"
        display="chip"
        appendTo="body"
        [showClear]="true"
        [options]="categoryOptions"
        [(ngModel)]="selectedCategories"
      >
        <ng-template let-items pTemplate="selectedItems">
          <p-chips name="multiselect-chips" field="name" [(ngModel)]="selectedCategories"></p-chips>
        </ng-template>
      </p-multiSelect>
    </div>
    <div class="text-center mt-4">
      <p-button
        label="Save"
        icon="fa fa-floppy-disk"
        severity="success"
        [loading]="isSaving"
        (click)="save()"
      ></p-button>
    </div>
  </form>
</p-dialog>
