<nav class="flex justify-between p-5">
  <h1 class="text-2xl font-bold">Terms Management</h1>
  <p-button label="Add" icon="fa fa-plus" severity="success" (click)="addTerm()"></p-button>
</nav>

<p-table [value]="terms()" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Term</th>
      <th>ID</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td>{{ row.name }}</td>
      <td>
        <small class="text-xs"> {{ row.id }} </small>
      </td>
      <td class="flex gap-2 !px-0">
        <p-button
          class="text-xs"
          icon="fa fa-pen"
          severity="secondary"
          size="small"
          (click)="editTerm(row)"
        ></p-button>
        <p-button
          class="text-xs"
          icon="fa fa-trash"
          severity="danger"
          size="small"
          (click)="deleteTerm(row)"
        ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-term-form #termForm></app-term-form>

<p-dialog
  *ngIf="termToDelete"
  header="Confirm Delete Term"
  [modal]="true"
  [style]="{ width: '300px' }"
  [(visible)]="isShowingDeleteConfirm"
  [draggable]="false"
  [resizable]="false"
>
  Are you sure you want to delete the term:
  <strong>"{{ termToDelete.name }}"</strong>?
  <div class="text-center mt-5">
    <p-button
      class="block text-sm"
      label="Delete"
      icon="fa fa-trash"
      severity="danger"
      [loading]="isDeletingTerm"
      (click)="confirmDeleteTerm()"
    ></p-button>
  </div>
</p-dialog>
